:root {
  --main-font: "Montserrat", sans-serif;
  --main-color: #111;
  --second-color: #fff;
  --spn-color: #fd9222;
  --bcg-color: #1e1823;
}

body {
  font-family: var(--main-font);
  color: var(--main-color);
  background-color: #fafafa;
}

button {
  font-family: inherit;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style-type: none;
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1166px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}
/** -----------------HEADER----------------- */
.header {
  padding-top: 24px;
  padding-bottom: 32px;
}
.header-nav {
}
.header-logo {
  color: var(--main-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
}
.header-logo-span {
  font-style: italic;
}

.header-menu-list {
}
.header-menu-item {
}
.header-menu-link {
  color: var(--main-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
}
.header-soc-list {
}
.header-soc-item {
}
.header-soc-link {
}

/** -----------------MAIN----------------- */

/* ----------HERO-------- */
.hero {
  padding-bottom: 80px;
}

.hero-wrap {
  background: rgba(17, 17, 17, 0.6);
  border-radius: 30px;
  padding: 380px 40px 40px 40px;
}

.hero-title {
  color: var(--second-color);
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  max-width: 484px;
  margin-bottom: 32px;
}
.hero-btn {
  color: var(--second-color);
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  background-color: var(--spn-color);
}

.hero-btn:hover,
.hero-btn:focus {
  color: var(--spn-color);
}

.hero-link-btn {
  color: var(--second-color);
  font-weight: 600;
  font-size: 14px;
}

.hero-link-btn:hover,
.hero-link-btn:focus {
  color: var(--spn-color);
}

.hero-scrl-btn {
  color: var(--second-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
}

.hero-scrl-btn:hover,
.hero-scrl-btn:focus {
  color: var(--spn-color);
}

/* ----------ADVANTAGES-------- */

.advantages {
  background-color: var(--bcg-color);
  padding-top: 50px;
  padding-bottom: 50px;
}
.advantages-list {
  padding: 0 18px;
}
.advantages-item {
}
.advantages-title {
  color: var(--second-color);
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 18px;
}
.advantages-text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/* ----------INGREDIENTS-------- */

.ingredients {
  padding-top: 120px;
}
.ingredients-title {
  max-width: 412px;
  margin: 0 auto;
  margin-bottom: 28px;
  color: var(--main-color);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;
}
.ingredients-spn {
  color: var(--spn-color);
}
.ingredients-text {
  max-width: 486px;
  margin: 0 auto;
  margin-bottom: 50px;
  color: var(--main-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
}
.ingredients-list {
}
.ingredients-item {
}
.ingredients-descr {
  color: var(--main-color);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

/* ----------PROCESS-------- */

.process {
  padding-top: 120px;
}
.process-title {
  color: var(--main-color);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.made-left-side {
}

.made-right-side {
}

.process-spn {
  color: var(--spn-color);
}
.process-text {
  color: var(--main-color);
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  margin-bottom: 28px;
  display: inline-block;
}
.process-list {
}
.process-item:not(:last-child) {
  margin-bottom: 24px;
}
.process-descr {
  color: var(--main-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/* ----------PRODUCTS-------- */

.products {
  padding-top: 120px;
}
.products-title {
  color: var(--main-color);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.products-spn {
  color: var(--spn-color);
}
.products-list {
}
.products-item {
}
.products-item-title {
  color: var(--main-color);
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.products-text {
  color: rgba(17, 17, 17, 0.7);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
}
.products-item-spn {
  color: var(--main-color);
  font-weight: 600;
  font-size: 14px;
}

/* ----------SELLERS-------- */

.sellers {
  padding-top: 120px;
}
.sellers-title {
  color: var(--main-color);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;

  padding-bottom: 50px;
}
.sellers-btn {
  color: var(--spn-color);
}
.sellers-list {
}
.sellers-item {
  background-color: var(--second-color);
  border-radius: 0 0 15px 15px;
  border-right: 1px solid rgba(17, 17, 17, 0.1);
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  border-left: 1px solid rgba(17, 17, 17, 0.1);
  padding-bottom: 28px;
}

.sellers-img {
  margin-bottom: 28px;
}

.sellers-descr {
  color: var(--main-color);
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
}

/* ----------REVIEW-------- */

.review {
  padding-top: 120px;
  padding-bottom: 120px;
}
.review-title {
  color: var(--main-color);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 90px;
}
.review-spn {
  color: var(--spn-color);
}

.footer-socials-div {
}

.review-list {
  margin-bottom: 50px;
}
.review-item {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  background-color: var(--second-color);
  box-shadow: 0px 9.05px 100px 0px rgba(17, 17, 17, 0.03);
}
.review-name {
  color: var(--main-color);
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  margin-bottom: 24px;
}
.review-text {
  color: rgba(17, 17, 17, 0.7);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
}
.review-btn {
  color: var(--main-color);
  font-weight: 600;
  font-size: 18px;
  display: block;
  margin: 0 auto;
}

.review-btn:hover,
.review-btn:focus {
  color: var(--second-color);
}

/** -----------------FOOTER----------------- */

.footer {
  background-color: var(--bcg-color);
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer-text {
  color: var(--second-color);
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  max-width: 300px;
}
.footer-spn {
  color: var(--spn-color);
}
.footer-social {
  color: var(--second-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  margin-bottom: 14px;
}
.footer-list {
}
.footer-item {
}
.footer-item-link {
  color: var(--second-color);
}

.footer-contacts-div {
}

.footer-info {
  color: var(--second-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  margin-bottom: 14px;
}
.footer-address {
}
.footer-address-list {
}
.footer-address-item:not(:last-child) {
  margin-bottom: 4px;
}
.footer-address-link {
  font-style: normal;
  color: var(--second-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
}
.footer-nav {
}
.footer-nav-list {
}
.footer-nav-item {
}
.footer-nav-link {
  font-style: normal;
  color: var(--second-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  vertical-align: middle;
}
