:root {
  --main-font: "Montserrat", sans-serif;
  --main-color: #111;
  --second-color: #fff;
  --spn-color: #fd9222;
  --bcg-color: #1e1823;
  --bcg-fafafa: #fafafa;
}

body {
  font-family: var(--main-font);
  background-color: var(--bcg-fafafa);
  color: var(--main-color);
}

button {
  font-family: inherit;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style-type: none;
}

img {
  display: block;
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1166px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}
/** -----------------HEADER----------------- */
.header {
  padding-top: 24px;
  padding-bottom: 32px;
}

.header-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  color: var(--main-color);
  font-weight: 700;
  font-size: 18px;
  /* line-height: 1.11; */
  letter-spacing: -0.03em;
  display: flex;
  align-items: center;
  gap: 4px;
}

.header-logo-span {
  font-style: italic;
}

.header-logo-img {
}

.header-menu {
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: center;
  gap: 90px;
}
.header-nav {
  display: flex;
  align-items: center;
}

.header-menu-list {
  display: flex;
  gap: 24px;
}
.header-menu-item {
}
.header-menu-link {
  color: var(--main-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
}
.header-soc-list {
  display: flex;
  align-items: center;
  gap: 14px;
}
.header-soc-item {
}
.header-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-soc-icon {
  fill: transparent;
  stroke: #111;
}

.header-soc-link:hover .header-soc-icon,
.header-soc-link:focus .header-soc-icon {
  stroke: var(--spn-color);
}

/** -----------------MAIN----------------- */

/* ----------HERO-------- */
.hero {
  padding-bottom: 80px;
}

.hero-wrap {
  background-color: rgba(17, 17, 17, 0.6);
  background-image: linear-gradient(
      rgba(17, 17, 17, 0.4),
      rgba(17, 17, 17, 0.4)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 30px;
  padding: 380px 40px 40px 40px;
}

.hero-title {
  color: var(--second-color);
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  max-width: 484px;
  margin-bottom: 32px;
}

.hero-btns-block {
  display: flex;
}

.hero-btn {
  color: var(--second-color);
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  background-color: var(--spn-color);
  padding: 14px 40px;
  border-radius: 100px;
  border: none;
  margin-right: 14px;
  transition-property: color, background-color;
  transition-duration: 300ms, 250ms;
  /* transition-delay: 1000ms; */
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1), ease;
}

.hero-btn:hover,
.hero-btn:focus {
  color: var(--spn-color);
  background-color: #fcf1e0;
}

.hero-link-btn {
  color: var(--second-color);
  font-weight: 600;
  font-size: 14px;
  padding: 14px 40px;
  border-radius: 100px;
  border: 1px solid var(--second-color);
}

.hero-link-btn:hover,
.hero-link-btn:focus {
  color: var(--spn-color);
  border: 1px solid var(--spn-color);
}

.hero-scrl-btn {
  color: var(--second-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  display: flex;
  align-items: center;
  gap: 14px;
  margin-left: auto;
}

.hero-scrl-btn:hover,
.hero-scrl-btn:focus {
  color: var(--spn-color);
}

.hero-down-icon {
  display: flex;
  width: 38px;
  height: 38px;
  background-color: var(--second-color);
  border-radius: 50%;
}

/* ----------ADVANTAGES-------- */

.advantages {
  background-color: var(--bcg-color);
  padding-top: 50px;
  padding-bottom: 50px;
}
.advantages-list {
  padding: 0 18px;
  display: flex;
  gap: 88px;
}
.advantages-item {
  width: calc((100% - 2 * 88px) / 3);
  position: relative;
}

.advantages-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -44px;
  transform: translateY(-50%);
  width: 1px;
  height: 124px;
  background-color: rgba(255, 255, 255, 0.5);
}

.advantages-item-top {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantages-item-icon {
}

.advantages-title {
  color: var(--second-color);
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 18px;
}
.advantages-text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/* ----------INGREDIENTS-------- */

.ingredients {
  padding-top: 120px;
}
.ingredients-title {
  max-width: 412px;
  margin: 0 auto;
  margin-bottom: 28px;
  color: var(--main-color);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;
}
.ingredients-spn {
  color: var(--spn-color);
}
.ingredients-text {
  max-width: 486px;
  margin: 0 auto;
  margin-bottom: 50px;
  color: var(--main-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
}

.ingredients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 32px;
}

.ingredients-item {
  border-radius: 15px;
  border: 1px solid #fd9222;
  background-color: #fff;
  width: calc((100% - 96px) / 4);
  padding: 28px 23px;
}

.ingredients-item:nth-child(4n + 1) {
  background-color: var(--spn-color);
}

.ingredients-item:nth-child(4n + 3) {
  background-color: var(--bcg-color);
  border-color: var(--bcg-color);
}

.ingredients-img {
  margin-bottom: 36px;
}

.ingredients-descr {
  color: var(--main-color);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.ingredients-item:nth-child(odd) .ingredients-descr {
  color: var(--second-color);
}

/* ----------PROCESS-------- */

.process {
  padding-top: 120px;
}
.process-title {
  color: var(--main-color);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.made-div {
  display: flex;
  gap: 20px;
}

.made-left-side {
}

.made-right-side {
  background-color: var(--second-color);
  padding: 32px;
}

.process-spn {
  color: var(--spn-color);
}
.process-text {
  color: var(--main-color);
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  margin-bottom: 28px;
  display: inline-block;
}
.process-list {
}

.process-item {
  max-width: 426px;
  padding-left: 16px;
  position: relative;
}

.process-item::before {
  position: absolute;
  left: 0;
  top: 5px;
  content: "";
  width: 8px;
  height: 8px;
  background-color: #4c4c4c;
  border-radius: 50%;
  border: 1px solid #eceded;
}

.process-item:not(:last-child) {
  margin-bottom: 24px;
}
.process-descr {
  color: var(--main-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/* ----------PRODUCTS-------- */

.products {
  padding-top: 120px;
}
.products-title {
  color: var(--main-color);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.products-spn {
  color: var(--spn-color);
}
.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 18px;
}
.products-item {
  width: calc((100% - 3 * 18px) / 4);
  background-color: var(--second-color);
  padding: 32px 20px;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  text-align: center;
}

.products-img {
  margin-bottom: 8px;
}

.products-item-title {
  color: var(--main-color);
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.products-text {
  color: rgba(17, 17, 17, 0.7);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  margin-bottom: 16px;
}
.products-item-spn {
  color: var(--main-color);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background-color: #fafafa;
}

/* ----------SELLERS-------- */

.sellers {
  padding-top: 120px;
}
.sellers-title {
  color: var(--main-color);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;

  margin-bottom: 50px;
}
.sellers-btn {
  color: var(--spn-color);
}
.sellers-list {
  display: flex;
  gap: 16px;
}
.sellers-item {
  width: calc((100% - 32px) / 3);
  background-color: var(--second-color);
  border-radius: 15px;
  border-right: 1px solid rgba(17, 17, 17, 0.1);
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  border-left: 1px solid rgba(17, 17, 17, 0.1);
  padding-bottom: 28px;
}

.sellers-item:hover .sellers-cover {
  transform: translateY(0);
}

.sellers-cover-wrap {
  position: relative;
  overflow: hidden;
}

.sellers-img {
}

.sellers-cover {
  position: absolute;
  top: 0;
  height: 100%;

  border-radius: 15px 15px 0px 0px;
  background: linear-gradient(
    161deg,
    rgba(253, 253, 255, 0.1) 0%,
    rgba(8, 2, 21, 0) 100%
  );
  backdrop-filter: blur(7.5px);
  transform: translateY(100%);
  transition: transform 300ms linear;

  padding: 0 40px;
  display: flex;
  align-items: center;
}

.sellers-cover-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--bcg-fafafa);
}

.sellers-descr {
  color: var(--main-color);
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 28px;
}

/* ----------REVIEW-------- */

.review {
  padding-top: 120px;
  padding-bottom: 120px;
}
.review-title {
  color: var(--main-color);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 90px;
}
.review-spn {
  color: var(--spn-color);
}

.footer-socials-div {
}

.review-list {
  margin-bottom: 50px;
  display: flex;
  gap: 28px;
}
.review-item {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  background-color: var(--second-color);
  box-shadow: 0px 9.05px 100px 0px rgba(17, 17, 17, 0.03);
  padding: 24px;
  padding-top: 0;
  width: calc((100% - 56px) / 3);

  position: relative;
}

.review-img {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
}

.review-name {
  color: var(--main-color);
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  margin-bottom: 24px;
  margin-top: 56px;
}
.review-text {
  color: rgba(17, 17, 17, 0.7);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  /* max-width: 312px; */
}
.review-btn {
  color: var(--main-color);
  font-weight: 600;
  font-size: 18px;
  display: block;
  margin: 0 auto;

  background-color: transparent;
  padding: 14px 40px;
  border-radius: 100px;
  border: 1px solid var(--spn-color);
}

.review-btn:hover,
.review-btn:focus {
  color: var(--second-color);
  background-color: var(--spn-color);
}

/** -----------------FOOTER----------------- */

.footer {
  background-color: var(--bcg-color);
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-wrap-up {
  display: flex;
  padding-bottom: 50px;
  margin-bottom: 24px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-text {
  color: var(--second-color);
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  max-width: 300px;
  margin-right: auto;
}
.footer-spn {
  color: var(--spn-color);
}

.footer-socials-div {
  margin-right: 50px;
}

.footer-social {
  color: var(--second-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  margin-bottom: 14px;
}
.footer-list {
  display: flex;
  gap: 14px;
}
.footer-item {
}
.footer-item-link {
  color: var(--second-color);
}

.footer-soc-icon {
  fill: transparent;
  stroke: #fff;
}

.footer-contacts-div {
}

.footer-info {
  color: var(--second-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  margin-bottom: 14px;
}
.footer-address {
}
.footer-address-list {
}
.footer-address-item:not(:last-child) {
  margin-bottom: 4px;
}
.footer-address-link {
  font-style: normal;
  color: var(--second-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
}

.footer-wrap-down {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-nav {
}
.footer-nav-list {
  display: flex;
  gap: 24px;
}
.footer-nav-item {
}
.footer-nav-link {
  color: var(--second-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
}

.footer-form {
  display: flex;
}

.footer-label {
  margin-right: 8px;
}

.footer-input {
  width: 313px;
  height: 52px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 30px;
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  background-color: transparent;
  color: rgba(255, 255, 255, 0.3);
  outline: transparent;
  transition: border-color 300ms linear;
}

.footer-input:focus {
  border-color: var(--second-color);
}

.footer-input::placeholder {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.3);
}

.footer-subm-btn {
  min-width: 137px;
  height: 52px;
  border: none;
  border-radius: 100px;

  font-weight: 600;
  font-size: 14px;
  color: var(--second-color);

  background-color: var(--spn-color);
  border: 1px solid var(--spn-color);
}

/** -----------------MODAL----------------- */

.backdrop {
  position: fixed;
  top: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(76, 76, 76, 0.5);

  transition: opacity 300ms linear, visibility 300ms linear;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(1);

  width: 517px;
  min-height: 794px;
  border-radius: 15px;
  background-color: var(--bcg-fafafa);
  transition: transform 300ms linear;

  padding: 40px;
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
}

.modal-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  text-align: left;
  margin-bottom: 40px;
}

.modal-title-spn {
  color: var(--spn-color);
  display: block;
}

.modal-form {
}

.modal-field:not(:last-of-type) {
  margin-bottom: 18px;
}

.modal-label {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
  display: inline-block;
  margin-bottom: 8px;
}

.modal-input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 68px;
  color: #404040;

  font-size: 18px;
  letter-spacing: -0.02em;
  background-color: transparent;
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.15);

  padding-left: 62px;
  padding-right: 24px;
  outline: transparent;

  transition: border-color 200ms ease;
}

.modal-input:focus {
  border-color: var(--spn-color);
}

.modal-input:focus + .modal-icon {
  stroke: var(--spn-color);
}

.modal-input::placeholder {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}

/* .modal-input:required {
  border: 1.5px solid #e74a3b;
} */

.modal-icon {
  fill: transparent;
  stroke: #404040;

  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
  transition: stroke 200ms ease;
}

.modal-comment {
  width: 100%;
  height: 137px;
  color: #404040;

  font-size: 18px;
  letter-spacing: -0.02em;
  background-color: transparent;
  border: 1.5px solid rgba(17, 17, 17, 0.15);

  border-radius: 13px;
  padding: 22px 24px;

  outline: transparent;
  transition: border-color 200ms ease;
  resize: none;
}

.modal-comment:focus {
  border-color: var(--spn-color);
}

.modal-comment::placeholder {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}

.modal-check {
}

.modal-check-text {
  color: rgba(64, 64, 64, 0.6);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  display: flex;
  align-items: center;
}

.modal-check-text span {
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition-duration: 300ms;
}

.modal-check-link {
  color: var(--spn-color);
}

.modal-check:checked + .modal-check-text span {
  background-color: var(--spn-color);
  border: none;
  fill: var(--second-color);
}

.form-btn {
  margin-top: 40px;
  padding: 14px 40px;
  background-color: var(--spn-color);
  border-radius: 100px;
  border: 1px solid var(--spn-color);

  font-weight: 600;
  font-size: 14px;
  color: var(--second-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0);
}
